@font-face {
    font-family: "Norse Bold";
    src: url("fonts/Norse-Bold.otf");
}

@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto/Roboto-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto/Roboto-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

:root {
    box-sizing: border-box;
    --warning-color: rgb(200, 0, 0);
    --transparent-background-color: rgba(0, 0, 0, 0.469)
}


*, *::before, *::after {
    box-sizing: inherit;
    /* border: 1px dotted red; */
}

body {
    min-height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;

    font-family: Roboto;
    font-size: 18px;
}

.skip-link {
    position: absolute;
    color: white;
    background-color: var(--warning-color);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.425);
    padding: 1rem;
    border-radius: 0 0 10px 0;

    font-weight: bold;

    transform: translateY(-100%);
    transition: transform .8s ease-in;
    transition-delay: .5s;
}

.skip-link:focus {
    transition: transform .2s ease-out;
    transform: translateY(0);
}

small {
    font-size: 12px;
}

.left-col {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    
    background-color: #596D48;
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
}

.title {
    height: 150px;

    margin-top: 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF;
    background-color: var(--transparent-background-color);

    font-family: "Norse Bold";
    font-size: 62px;
}

.title>img {
    height: 80%;
}

.photo-credit {
    margin-bottom: 3%;
}

.photo-credit,
.photo-credit>* {
    color: #FFF;
}

.right-col {
    width: 60%;

    padding-top: 3%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: rgb(245, 245, 245);
}

.right-col p,
.right-col .spiel,
.right-col .form-bg {
    /* 
    Not using shorthand so does not 
    conflict with .form-bg padding 
    */
    padding-left: 5%;
    padding-right: 5%;
}

.spiel {
    margin-bottom: 1%;
}

.create-account-button {
    margin-top: 4%;
    margin-left: 5%;

    padding: 15px 60px;

    border: none;
    border-radius: 10px;

    background-color: #596D48;
    color: #FFF;

    font-size: 18px;
    font-weight: bold;
}

.create-account-button:hover {
    background-color: #728c53;

    cursor: pointer;
}

.create-account-button:active {
    background-color: #304735;
}

#signup-form input {
    padding: 5px;

    border: 1px solid #E5E7EB;
    border-radius: 5px;

    font-family: Roboto;
    font-size: 18px;
}

.form-bg {
    margin-top: 5%;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: rgb(255, 255, 255);

    box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.437);
}

.form-bg>h3 {
    margin-top: 0;
}

.form-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 20px 60px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.login-link {
    text-decoration: none;
    font-weight: bold;

    color: #596D48; 
}

.login-link:hover {
    color: #728c53;
}

.login-link:active {
    color: #304735;
}

.error-message {
    margin-top: 2px;
    color: var(--warning-color);
}

.invisible {
    opacity: 0;
}